spring:
  application:
    name: book-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/bookdb
server:
  port: 8083

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}