server:
  port: 8082

spring:
  application:
    name: book-service
  data:
    mongodb:
      host: localhost
      port: 27017
      database: library
      username: admin
      password: admin
      authentication-database: admin

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

management:
  health:
    mongo:
      enabled: false  # временно отключаем health check