spring:
  application:
    name: server_1                    ← ИЗМЕНИТЕ на server_1
  config:
    import: "optional:configserver:"
  cloud:
    config:
      enabled: true
      discovery:
        enabled: true
      name: server_1                  ← ИЗМЕНИТЕ на server_1

server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}