spring:
  application:
    name: eureka-server
server:
  port: 8761
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      default-zone: http://localhost:8761/eureka

  server:
    wait-time-in-ms-when-sync-empty: 60000
    enable-self-preservation: false
    expected-client-renewal-interval-seconds: 20
    eviction-interval-timer-in-ms: 15000

  instance:
    hostname: localhost
    lease-expiration-duration-in-seconds: 70